[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"

[packages]
flask = "*"
gunicorn = "*"
flask-pymongo = "*"
line-bot-sdk = "*"
pymongo = "*"

[requires]
python_version = "3.7"
